doctype html
html
    head
        meta(charset="utf-8")
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        )
        link(
            rel="stylesheet", 
            href="../stylesheets/css/creative.css"
        )
        link(
            rel="stylesheet", 
            href="../stylesheets/css/mycss.css"
        )    
        link(
            href="https://use.fontawesome.com/releases/v5.7.2/css/all.css",
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr",
            crossorigin="anonymous"
        )
        title NPS
    body
        nav(class="navbar navbar-expand-lg navbar-light fixed-top py-3", id="mainNav")
            div(class="container")
                a(class="navbar-brand js-scroll-trigger", href="#page-top") NPS
                button(
                    class="navbar-toggler navbar-toggler-right", 
                    type="button", 
                    data-toggle="collapse",
                    data-target="#navbarResponsive",
                    aria-controls="navbarResponsive",
                    aria-expanded="false",
                    aria-label="Toggle navigation",
                )
                    span(
                        class='navbar-toggler-icon'
                    )
                div(
                    class="collapse navbar-collapse",
                    id="navbarResponsive"
                )
                    ul(class="navbar-nav ml-auto my-2 my-lg-0")
                        li(class="nav-item")
                            a(
                                href="#about",
                                class="nav-link js-scroll-trigger"
                            ) About
                        li(class="nav-item")
                            a(
                                href="#teams"
                                class="nav-link js-scroll-trigger"
                            ) Team

        //- Masthead Section
        header.masthead-page
            .container.h-100
                .row.h-75.align-items-center.justify-content-center.text-center
                    .col-lg-10.align-self-end
                        h1.text-uppercase.text-white.font-weight-bold
                            = team_city + " " + team_name
                        hr.divider.my-4
                    .col-lg-8.align-self-baseline
                        p.text-white-75.font-weight-light.mb-5
                            | Game statistics and predictions.
                .row.h-25.justify-content-center.text-center
                    .col-lg-3.text-center
                        a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#predictions') Game Predictions
                    .col-lg-3.text-center
                        a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#team_stats') Team Statistics
                    .col-lg-3.text-center
                        a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#player_stats') Player Statistics                    

        //- Predictions section
        section#predictions.page-section
            .container.h-75
                .row.h-75.align-items-center.justify-content-center.text-center
                    .col-lg-10.align-self-end
                        h1.text-uppercase.font-weight-bold
                            | Game Predictions
                        hr.my-4
                .row.h-25.align-items-center.justify-content-center.text-center   
                    .col-lg-4.align-self-end
                        .card.align-items-center(style='width: 18rem;')
                            .card-body                            


                    .col-lg-4.align-self-end
                        .card.align-items-center(style='width: 18rem;')
                            .card-body
                                h5.card-title @ Celtics
                                h6.card-subtitle.mb-2.text-muted Prediction: Win
                                p.card-text
                                table.table
                                    thead
                                        tr
                                            th(scope='col')
                                            th(scope='col') Hawks
                                            th(scope='col') Celtics
                                    tbody
                                        tr
                                            th(scope='row') Points
                                            td 117
                                            td 106
                                        tr
                                            th(scope='row') Assists
                                            td 33
                                            td 9
                                        tr
                                            th(scope='row') Turnovers
                                            td 7
                                            td 20
                                p
                                a.card-link(href='#') Box Score
                                a.card-link(href='#') More Stats
                    .col-lg-4.align-self-end
                        .card.align-items-center(style='width: 18rem;')
                            .card-body
                                h5.card-title vs Warriors
                                h6.card-subtitle.mb-2.text-muted Prediction: Loss
                                p.card-text
                                table.table
                                    thead
                                        tr
                                            th(scope='col')
                                            th(scope='col') Hawks
                                            th(scope='col') Warriors
                                    tbody
                                        tr
                                            th(scope='row') Points
                                            td 87
                                            td 130
                                        tr
                                            th(scope='row') Assists
                                            td 15
                                            td 26
                                        tr
                                            th(scope='row') Turnovers
                                            td 14
                                            td 12
                                p
                                a.card-link(href='#') Box Score
                                a.card-link(href='#') More Stats
                    .col-lg-4.align-self-end
                        .card.align-items-center(style='width: 18rem;')
                            .card-body
                                h5.card-title vs Lakers
                                h6.card-subtitle.mb-2.text-muted
                                    | Prediction: Loss
                                    br
                                    |                             03/25/19
                                p.card-text
                                table.table
                                    thead
                                        tr
                                            th(scope='col')
                                            th(scope='col') Hawks
                                            th(scope='col') Lakers
                                    tbody
                                        tr
                                            th(scope='row') Points
                                            td 98
                                            td 100
                                        tr
                                            th(scope='row') Assists
                                            td 18
                                            td 15
                                        tr
                                            th(scope='row') Turnovers
                                            td 8
                                            td 10
                                p
                                a.card-link(href='#') Box Score
                                a.card-link(href='#') More Stats


        //- Team Statistics section
        section#team_stats.page-section
            .container.h-100
                .row.h-25.align-items-center.justify-content-center.text-center
                    .col-lg-10.align-self-end
                        h1.text-uppercase.font-weight-bold
                            | Team Statistics
                        hr.my-4
                .row.h-25.align-items-center.justify-content-center.text-center
                    .col-lg-12.table-responsive.small-font
                        table.table
                            thead
                                tr
                                    th(scope="col") #
                                    th(scope="col") Wins
                                    th(scope="col") Losses
                                    th(scope="col") WIN_PCT
                                    th(scope="col") CONF_RANK
                                    th(scope="col") DIV_RANK
                                    th(scope="col") PO_WINS
                                    th(scope="col") PO_LOSSES
                                    th(scope="col") FIN_APP
                                    th(scope="col") FGM
                                    th(scope="col") FGA
                                    th(scope="col") FG_PCT
                                    th(scope="col") FG3M
                                    th(scope="col") FG3A
                                    th(scope="col") FG3_PCT
                            tbody
                                each val in years
                                    tr
                                        th(scope="row")=val.YEAR
                                        td=val.WINS
                                        td=val.LOSSES
                                        td=val.WIN_PCT
                                        td=val.CONF_RANK
                                        td=val.DIV_RANK
                                        td=val.PO_WINS
                                        td=val.PO_LOSSES
                                        td=val.NBA_FINALS_APPEARANCE
                                        td=val.FGM
                                        td=val.FGA
                                        td=val.FG_PCT
                                        td=val.PG3M
                                        td=val.FGM
                                        td=val.FG3_PCT

        
        //- Player Statistics Section
        section#player_stats.page-section
            .container.h-100
                .row.h-25.align-items-center.justify-content-center.text-center
                    .col-lg-10.align-self-end
                        h1.text-uppercase.font-weight-bold
                            | Player Statistics
                        hr.my-4
                .row.h-75.align-items-center.justify-content-center.text-center
                    .col-lg-10.small-font
                        table.table.table-responsive
                            thead
                                tr
                                    th(scope='col') Name
                                    th(scope='col') GP
                                    th(scope='col') GS
                                    th(scope='col') MPG
                                    th(scope='col') PTS
                                    th(scope='col') OR
                                    th(scope='col') DR
                                    th(scope='col') REB
                                    th(scope='col') AST
                                    th(scope='col') STL
                                    th(scope='col') BLK
                                    th(scope='col') TO
                                    th(scope='col') PF
                            tbody
                                each player in players_stats
                                    if player.seasons[player.seasons.length - 1].TEAM_ID== team_id                        
                                        tr
                                            th(scope="row")=player.playerName
                                            td=player.seasons[player.seasons.length - 1].GP
                                            td=player.seasons[player.seasons.length - 1].GS
                                            td=player.seasons[player.seasons.length - 1].MIN
                                            td=player.seasons[player.seasons.length - 1].PTS
                                            td=player.seasons[player.seasons.length - 1].OREB
                                            td=player.seasons[player.seasons.length - 1].DREB
                                            td=player.seasons[player.seasons.length - 1].REB
                                            td=player.seasons[player.seasons.length - 1].AST
                                            td=player.seasons[player.seasons.length - 1].STL
                                            td=player.seasons[player.seasons.length - 1].BLK
                                            td=player.seasons[player.seasons.length - 1].TOV
                                            td=player.seasons[player.seasons.length - 1].PF                            

        footer
            .container.h-25
                h3 Glossary
                ul(style="font-size:12px")
                    li
                        b #
                        | : Season
                    li
                        b WIN_PCT
                        | : Winning Percentage
                    li
                        b CONF_RANK
                        | : Conference Standing
                    li
                        b DIV_RANK
                        | : Division Standing
                    li
                        b PO_WINS
                        | : Playoff Wins
                    li
                        b PO_LOSSES
                        | : Playoff Losses
                    li
                        b FIN_APP
                        | : Finals Appearance
                    li
                        b FGM
                        | : Average Made Field Goals
                    li
                        b FGA
                        | : Average Attempted Field Goals
                    li
                        b FG_PCT
                        | : Average Field Goal Percentage
                    li
                        b FG3M
                        | : Average Threes Made
                    li
                        b FGA
                        | : Average Threes Attempted
                    li
                        b FG3_PCT
                        | : Average Three Point Percentage


        script(
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js",
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo",
            crossorigin="anonymous"
        )
        script(
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js",
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1",
            crossorigin="anonymous"
        )
        script(
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js",
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM",
            crossorigin="anonymous"
        )
        script(
            src="../scripts/vendor/jquery/jquery.min.js"
        )
        script(
            src="../scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"
        )
        script(
            src="../scripts/vendor/jquery-easing/jquery.easing.min.js"
        )
        script(
            src="../scripts/vendor/magnific-popup/jquery.magnific-popup.min.js"
        )
        script(
            src="../scripts/js/creative.js"
        )
        script(
            src="https://d3js.org/d3.v5.js"
        )