doctype html
html
  head
    meta(charset="utf-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    link(
      rel="stylesheet", 
      href="./stylesheets/css/creative.css"
    )
    link(
      rel="stylesheet", 
      href="./stylesheets/css/mycss.css"
    )    
    link(
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css",
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr",
      crossorigin="anonymous"
    )
    title NPS
  body

    // Navigation
    nav(class="navbar navbar-expand-lg navbar-light fixed-top py-3", id="mainNav")
      div(class="container")
        a(class="navbar-brand js-scroll-trigger", href="#header") NPS
        button(
          class="navbar-toggler navbar-toggler-right", 
          type="button", 
          data-toggle="collapse",
          data-target="#navbarResponsive",
          aria-controls="navbarResponsive",
          aria-expanded="false",
          aria-label="Toggle navigation",
        )
          span(
            class="navbar-toggler-icon"
          )
        div(
          class="collapse navbar-collapse",
          id="navbarResponsive"
        )
          ul(class="navbar-nav ml-auto my-2 my-lg-0")
            li(class="nav-item")
              a(
                href="#about",
                class="nav-link js-scroll-trigger"
              ) About
            li(class="nav-item")
              a(
                href="#upcoming_games"
                class="nav-link js-scroll-trigger"
              ) Upcoming Games
            li(class="nav-item")
              a(
                href="#teams"
                class="nav-link js-scroll-trigger"
              ) Team

    // Masthead Section
    header#header.masthead
      .container.h-100
        .row.h-100.align-items-center.justify-content-center.text-center
          .col-lg-10.align-self-end
            h1.text-uppercase.text-white.font-weight-bold
              | NPS
            hr.divider.my-4
          .col-lg-8.align-self-baseline
            p.text-white-75.font-weight-light.mb-5
              | Predictions service for you favorite teams and upcoming NBA games.
            .row
              .col-lg-6                   
                a.btn.btn-primary.btn-xl.btn-block.js-scroll-trigger(href='#upcoming_games') Upcoming Games
              .col-lg-6
                a.btn.btn-primary.btn-xl.btn-block.js-scroll-trigger(href='#teams') All Teams

    // About section
    section#about.page-section
      .container.h-75
        .row.h-75.align-items-center.justify-content-center.text-center
          .col-lg-10.align-self-end
            h1.text-uppercase.font-weight-bold
              | About
            hr.my-4
            .col-log-8.align-self-baseline
              p.font-weight-light.mb-5
                | Due to variety of factors, such as fatigue and home court advantage, it is difficult to predict
                | the outcomes of basketball games. For the common fan, it is very difficult to understand the
                | statistics provided on sports websites. While current systems provide predictions, they don’t
                | provide the common fan enough information to understand the reasoning behind the prediction. In
                | addition, there is much more information available than what the average fan can make sense of
                | on their own. Our app combines all of this information into an easy-to-use webapp, that
                | also provides accurate stat and game predictions.
    
    // Upcoming games section
    section#upcoming_games.page-section
      .container.h-25.hard-w-600.bkgrd-blue.rounded-top
        .row
          .col-lg-6
            h6.text-uppercase.font-white.my-4.mx-4(style="margin-bottom: 2rem !important")
              | Games
        .row
          .col-lg-12.padding-left-0.padding-right-0
            ul.nav.nav-tabs.nav-justified.font-white#gameTab(role="tabllist")            
              li.nav-item.font-white
                a.nav-link.color-white-link.active#upcoming_tab(
                  data-toggle="tab"
                  href="#upcoming"
                  role="tab"
                  aria-controls="upcoming-tab"
                  aria-selected="true"
                ) Upcoming game predictions            
              li.nav-item.font-white
                a.nav-link.color-white-link#previous_games(
                  data-toggle="tab"
                  href="#previous"
                  role="tab"
                  aria-controls="previous-tab"
                  aria-selected="true"
                ) Previous games              
                                  
      .container.h-75.border.hard-w-600.tab-content#myTabContent
        .tab-pane.fade.show.active#upcoming(
          role="tabpanel"
          aria-labelledby="upcoming_tab"
        )
          .row.hard-h-100.align-items-center.justify-content-start.text-center.tab-content.border-bottom#tab_content
            .col-lg-6(style="padding-right: 0px; padding-left: 0px")
              form(action="/predictions/warriors", method="get")
                button.btn.btn-block.border-right
                  .row
                    .col-lg-8.border-right(style="text-align: left;")
                      .row
                        .col-lg-3
                          img.rounded.float-left.team-logo-icon(
                            src="https://worldsportlogos.com/wp-content/uploads/2018/03/Orlando-Magic-logo.png"                            
                          )
                        .col-lg-9.padding-top-12.padding-left-10.name-font
                            | Warriors
                      .row
                        .col-lg-3
                          img.rounded.float-left.team-logo-icon(
                              src="https://upload.wikimedia.org/wikipedia/en/thumb/0/0d/New_Orleans_Pelicans_logo.svg/1200px-New_Orleans_Pelicans_logo.svg.png"                              
                          )
                        .col-lg-9.padding-top-12.padding-left-10.name-font
                          | Celtics                                                                      
                    .col-lg-4(style="padding-top: 1rem")
                      span.align-text-bottom.font-weight-bold.small-font.name-font Winner: Cavaliers            
        .tab-pane.fade#previous(
          role="tabpanel"
          aria-labelledby="previous_games"
        )
          .row
            .col
              p Nonsense  
    //Teams section
    section#teams.page-section
      .container
        h1.text-center.mt-0 Teams
        hr.divider.my-4
        .row
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Hawks", method="get")
                button.team.btn-lg.btn-pill.btn-ATL.btn-block
                  | Atlanta Hawks
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Celtics", method="get")
                button.team.btn-lg.btn-pill.btn-BOS.btn-block
                  | Boston Celtics
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Nets", method="get")
                button.team.btn-lg.btn-pill.btn-BKN.btn-block
                  | Brooklyn Nets
        .row
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Hornets", method="get")
                button.team.btn-lg.btn-pill.btn-CHA.btn-block
                  | Charlotte Hornets
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Bulls", method="get")
                button.team.btn-lg.btn-pill.btn-CHI.btn-block
                  | Chicago Bulls
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Cavaliers", method="get")
                button.team.btn-lg.btn-pill.btn-CLE.btn-block
                  | Cleveland Cavaliers
        .row
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Mavericks", method="get")
                button.team.btn-lg.btn-pill.btn-DAL.btn-block
                  | Dallas Mavericks
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Nuggets", method="get")
                button.team.btn-lg.btn-pill.btn-DEN.btn-block
                  | Denver Nuggets
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Pistons", method="get")
                button.team.btn-lg.btn-pill.btn-DET.btn-block
                  | Detroit Pistons
        .row
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Warriors", method="get")
                button.team.btn-lg.btn-pill.btn-GSW.btn-block
                  | Golden State Warriors
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Rockets", method="get")
                button.team.btn-lg.btn-pill.btn-HOU.btn-block
                  | Houston Rockets
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Pacers", method="get")
                button.team.btn-lg.btn-pill.btn-IND.btn-block
                  | Indiana Pacers
        .row
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Clippers", method="get")
                button.team.btn-lg.btn-pill.btn-LAC.btn-block
                  | Los Angeles Clippers
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Lakers", method="get")
                button.team.btn-lg.btn-pill.btn-LAL.btn-block
                  | Los Angeles Lakers
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Grizzlies", method="get")
                button.team.btn-lg.btn-pill.btn-MEM.btn-block
                  | Memphis Grizzlies
        .row
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Heat", method="get")
                button.team.btn-lg.btn-pill.btn-MIA.btn-block
                  | Miami Heat
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Bucks", method="get")
                button.team.btn-lg.btn-pill.btn-MIL.btn-block
                  | Milwaukee Bucks
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Timberwolves", method="get")
                button.team.btn-lg.btn-pill.btn-MIN.btn-block
                  | Minnesota Timberwolves
        .row
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Pelicans", method="get")
                button.team.btn-lg.btn-pill.btn-NOP.btn-block
                  | New Orleans Pelicans
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Knicks", method="get")
                button.team.btn-lg.btn-pill.btn-NYK.btn-block
                  | New York Knicks
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Thunder", method="get")
                button.team.btn-lg.btn-pill.btn-OKC.btn-block
                  | Oklahoma City Thunder
        .row
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Magic", method="get")
                button.team.btn-lg.btn-pill.btn-ORL.btn-block
                  | Orlando Magic
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/76ers", method="get")
                button.team.btn-lg.btn-pill.btn-PHI.btn-block
                  | Philadelphia 76ers
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Suns", method="get")
                button.team.btn-lg.btn-pill.btn-PHX.btn-block
                  | Phoenix Suns
        .row
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Blazers", method="get")
                button.team.btn-lg.btn-pill.btn-POR.btn-block
                  | Portland Trail Blazers
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Kings", method="get")
                button.team.btn-lg.btn-pill.btn-SAC.btn-block
                  | Sacramento Kings
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Spurs", method="get")
                button.team.btn-lg.btn-pill.btn-SAS.btn-block
                  | San Antonio Spurs
        .row
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Raptors", method="get")
                button.team.btn-lg.btn-pill.btn-TOR.btn-block
                  | Toronto Raptors
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Jazz", method="get")
                button.team.btn-lg.btn-pill.btn-UTA.btn-block
                  | Utah Jazz
          .col-lg-4.col-md-6
            .button-margin
              form(action="/teams/Wizards", method="get")
                button.team.btn-lg.btn-pill.btn-WAS.btn-block
                  | Washington Wizards

    //Modal
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog.modal-lg(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Team Statistics
          .modal-body
            .row
              #table.col-md-12
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close

    // Modal
    #bettingOdds.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog.modal-md(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Betting Odds
          .modal-body
            .row
              #table.col-md-4
                p
                  | Washington Wizards
                hr
                |                   Charlotte Hornets
                p
              #table.col-md-2
                p
                  | +5.0
                hr
                |                   -5.0
                p
              #table.col-md-4
                | San Antonio Spurs
                hr
                |                 Toronto Raptors
              #table.col-md-2
                p
                  | +7.5
                hr
                |                   -7.5
                p
            .row
              #table.col-md-4
                | Chicago Bulls
                hr
                |                 Orlando Magic
              #table.col-md-2
                p
                  | +8.0
                hr
                |                   -8.0
                p
              #table.col-md-4
                | New Orleans Pelicans
                hr
                |                 Indiana Pacers
              #table.col-md-2
                p
                  | +5.5
                hr
                |                   -5.5
                p
            .row
              #table.col-md-4
                | Detroit Pistons
                hr
                |                 Atlanta Hawks
              #table.col-md-2
                p
                  | -3.5
                hr
                |                   +3.5
                p
              #table.col-md-4
                | Minnesota Timberwolves
                hr
                |                 New York Knicks
              #table.col-md-2
                p
                  | -6.0
                hr
                |                   +6.0
                p
            .row
              #table.col-md-4
                | Los Angeles Clippers
                hr
                |                 Memphis Grizzlies
              #table.col-md-2
                p
                  | -2.0
                hr
                |                   +2.0
                p
              #table.col-md-4
                | Denver Nuggets
                hr
                |                 Dallas Mavericks
              #table.col-md-2
                p
                  | -3.5
                hr
                |                   +3.5
                p
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    style(media='screen').
      .modal-lg {
        max-width: 95%;
      }

      .modal-md {
        max-width: 40%;
      }

      tr {
        word-break: break-all;
        font-size: .65rem;
      }

    script(
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js",
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo",
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js",
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1",
      crossorigin="anonymous"
    )
    script(
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js",
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM",
      crossorigin="anonymous"
    )
    script(
      src="./scripts/vendor/jquery/jquery.min.js"
    )
    script(
      src="./scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"
    )
    script(
      src="./scripts/vendor/jquery-easing/jquery.easing.min.js"
    )
    script(
      src="./scripts/vendor/magnific-popup/jquery.magnific-popup.min.js"
    )
    script(
      src="./scripts/js/creative.js"
    )
    script(
      type="text/javascript",
      src="./scripts/js/csvData.js"
    )
    script(
      src="https://d3js.org/d3.v5.js"
    )
    script(
      src="./scripts/js/myJS.js"
    )
    //- script
    //-   include ../public/scripts/vendor/jquery/jquery.min.js
    //-   include ../public/scripts/vendor/bootstrap/js/bootstrap.bundle.min.js
    //-   include ../public/scripts/vendor/jquery-easing/jquery.easing.min.js
    //-   include ../public/scripts/vendor/magnific-popup/jquery.magnific-popup.min.js
    //-   include ../public/scripts/js/creative.js
    //- script(src="https://d3js.org/d3.v5.js")
