doctype html
html
  head
    meta(charset="utf-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    link(
      rel="stylesheet", 
      href="../stylesheets/css/creative.css"
    )
    link(
      rel="stylesheet", 
      href="../stylesheets/css/mycss.css"
    )    
    link(
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css",
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr",
      crossorigin="anonymous"
    )
    title NPS
  body

    // Navigation
    nav(class="navbar navbar-expand-lg navbar-light fixed-top py-3", id="mainNav")
      div(class="container")
        form(action="/", method="get")
            button.navbar-brand.js-scroll.trigger.btn NPS
            //- a(class="navbar-brand js-scroll-trigger", href="#header") NPS
            
        button(
          class="navbar-toggler navbar-toggler-right", 
          type="button", 
          data-toggle="collapse",
          data-target="#navbarResponsive",
          aria-controls="navbarResponsive",
          aria-expanded="false",
          aria-label="Toggle navigation",
        )
          span(
            class="navbar-toggler-icon"
          )
        div(
          class="collapse navbar-collapse",
          id="navbarResponsive"
        )
          ul(class="navbar-nav ml-auto my-2 my-lg-0")
            //- li(class="nav-item")
            //-   a(
            //-     href="#about",
            //-     class="nav-link js-scroll-trigger"
            //-   ) About
            //- li(class="nav-item")
            //-   a(
            //-     href="#upcoming_games"
            //-     class="nav-link js-scroll-trigger"
            //-   ) Upcoming Games
            //- li(class="nav-item")
            //-   a(
            //-     href="#teams"
            //-     class="nav-link js-scroll-trigger"
            //-   ) Team

    // Masthead Section
    header#header.masthead-page
      .container.h-100
        .row.h-75.align-items-center.justify-content-center.text-center
          .col-lg-10.align-self-end
            h1.text-uppercase.text-white.font-weight-bold
              | Game Prediction
            hr.divider.my-4

    // predictions section
    section#upcoming_games.page-section
        if data
            .container.h-25.hard-w-700.border-top.border-right.border-left.rounded-top
                .row
                    .col-lg-5.margin-top-30
                        img.rounded.display-block.team-logo-main(
                            src= data.team.imgUrl
                        )      

                    .col-lg-2
                        h1.h-100.text-center.padding-top-50-perc -   

                    .col-lg-5.margin-top-30
                        img.rounded.display-block.team-logo-main(
                            src= data.opponentTeam.imgUrl                              
                        )

                .row
                    .col-lg-6.padding-left-70
                        h6= data.team.fullName

                    .col-lg-6.text-right.padding-right-70
                        h6= data.opponentTeam.fullName
                .row     
                    .col-lg-12     
                        hr.my-4
              
          
        //-   .row.bkgrd-white
        //-     .col-lg-12.padding-left-0.padding-right-0
        //-       ul.nav.nav-tabs.nav-justified.font-white#gameTab(role="tabllist")            
        //-         li.nav-item
        //-           a.nav-link.color-black-link.active.font-black#upcoming_tab(
        //-             data-toggle="tab"
        //-             href="#upcoming"
        //-             role="tab"
        //-             aria-controls="upcoming-tab"
        //-             aria-selected="true"
        //-           )= team.fullName
        //-         li.nav-item
        //-           a.nav-link.color-black-link.font-black#previous_games(
        //-             data-toggle="tab"
        //-             href="#previous"
        //-             role="tab"
        //-             aria-controls="previous-tab"
        //-             aria-selected="true"
        //-           )= opponentTeam.fullName
                                    
        .container.h-75.border.hard-w-700.tab-content#myTabContent
            .row
                .col-lg-3.text-center
                    h6.vertical-center Assists
                
                .col-lg-2.text-center
                    h4.vertical-center()=data.firstTeamPrediction.predictedAssists

                .col-lg-2.text-center
                    // h1.h-100.padding-top-20-perc -
                    h1.vertical-center -

                .col-lg-2.text-center
                    h4.vertical-center()=data.secondTeamPrediction.predictedAssists

                .col-lg-3.text-center
                    h6.vertical-center Assists
            
            .row
                .col-lg-3.text-center
                    h6.vertical-center Rebounds
                
                .col-lg-2.text-center
                    h4.vertical-center()=data.firstTeamPrediction.predictedRebounds

                .col-lg-2.text-center
                    // h1.h-100.padding-top-20-perc -
                    h1.vertical-center -

                .col-lg-2.text-center
                    h4.vertical-center()=data.secondTeamPrediction.predictedRebounds

                .col-lg-3.text-center
                    h6.vertical-center Rebounds
            
            .row
                .col-lg-3.text-center
                    h6.vertical-center Turnovers
                
                .col-lg-2.text-center
                    h4.vertical-center()=data.firstTeamPrediction.predictedTurnovers

                .col-lg-2.text-center
                    // h1.h-100.padding-top-20-perc -
                    h1.vertical-center -

                .col-lg-2.text-center
                    h4.vertical-center()=data.secondTeamPrediction.predictedTurnovers

                .col-lg-3.text-center
                    h6.vertical-center Turnovers

            .row
                .col-lg-3.text-center
                    h6.vertical-center Blocks
                
                .col-lg-2.text-center
                    h4.vertical-center()=data.firstTeamPrediction.predictedBlocks

                .col-lg-2.text-center
                    // h1.h-100.padding-top-20-perc -
                    h1.vertical-center -

                .col-lg-2.text-center
                    h4.vertical-center()=data.secondTeamPrediction.predictedBlocks

                .col-lg-3.text-center
                    h6.vertical-center Blocks

            .row
                .col-lg-3.text-center
                    h6.vertical-center Steals
                
                .col-lg-2.text-center
                    h4.vertical-center()=data.firstTeamPrediction.predictedSteals

                .col-lg-2.text-center
                    // h1.h-100.padding-top-20-perc -
                    h1.vertical-center -

                .col-lg-2.text-center
                    h4.vertical-center()=data.secondTeamPrediction.predictedSteals

                .col-lg-3.text-center
                    h6.vertical-center Steals

            .row
                .col-lg-3.text-center
                    h6.vertical-center Fouls
                
                .col-lg-2.text-center
                    h4.vertical-center()=data.firstTeamPrediction.predictedFouls

                .col-lg-2.text-center
                    // h1.h-100.padding-top-20-perc -
                    h1.vertical-center -

                .col-lg-2.text-center
                    h4.vertical-center()=data.secondTeamPrediction.predictedFouls

                .col-lg-3.text-center
                    h6.vertical-center Fouls

            .row
                .col-lg-3.text-center
                    h6.vertical-center Assist/Turnover
                
                .col-lg-2.text-center
                    h4.vertical-center()=data.firstTeamPrediction.predictedAssistTurnoverRatio

                .col-lg-2.text-center
                    // h1.h-100.padding-top-20-perc -
                    h1.vertical-center -

                .col-lg-2.text-center
                    h4.vertical-center()=data.secondTeamPrediction.predictedAssistTurnoverRatio

                .col-lg-3.text-center
                    h6.vertical-center Assist/Turnover

            .row
                .col-lg-3.text-center
                    h6.vertical-center 3PT %
                
                .col-lg-2.text-center
                    h4.vertical-center()=data.firstTeamPrediction.predictedThreePtPercentage

                .col-lg-2.text-center
                    // h1.h-100.padding-top-20-perc -
                    h1.vertical-center -

                .col-lg-2.text-center
                    h4.vertical-center()=data.secondTeamPrediction.predictedThreePtPercentage

                .col-lg-3.text-center
                    h6.vertical-center 3PT %

            .row
                .col-lg-3.text-center
                    h6.vertical-center FT %
                
                .col-lg-2.text-center
                    h4.vertical-center()=data.firstTeamPrediction.predictedFreeThrowPercentage

                .col-lg-2.text-center
                    // h1.h-100.padding-top-20-perc -
                    h1.vertical-center -

                .col-lg-2.text-center
                    h4.vertical-center()=data.secondTeamPrediction.predictedFreeThrowPercentage

                .col-lg-3.text-center
                    h6.vertical-center FT %

 


        //-   .tab-pane.fade.show.active#upcoming(
        //-     role="tabpanel"
        //-     aria-labelledby="upcoming_tab"
        //-   )
        //-     .row.align-items-center.justify-content-start.text-center.tab-content.border-bottom#tab_content
        //-       table.table
        //-         thead
        //-   .tab-pane.fade#previous(
        //-     role="tabpanel"
        //-     aria-labelledby="previous_games"
        //-   )
        //-     .row
        //-       .col
        //-         p Nonsense               
        
    //-   else
    //-     page-section
    //-       .container.h-75
    //-         .row.h-75.align-items-center.justify-content-center.text-center
    //-           .col-lg-10.align-self-end
    //-             h1.text-uppercase.font-weight-bold
    //-               | No Upcoming games
    //-             hr.my-4
    //-             .col-log-8.align-self-baseline
    //-               p.font-weight-light.mb-5
    //-                 | no upcoming games
    script(
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js",
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo",
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js",
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1",
      crossorigin="anonymous"
    )
    script(
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js",
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM",
      crossorigin="anonymous"
    )
    script(
      src="../scripts/vendor/jquery/jquery.min.js"
    )
    script(
      src="../scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"
    )
    script(
      src="../scripts/vendor/jquery-easing/jquery.easing.min.js"
    )
    script(
      src="../scripts/vendor/magnific-popup/jquery.magnific-popup.min.js"
    )
    script(
      src="../scripts/js/creative.js"
    )
    script(
      type="text/javascript",
      src="../scripts/js/csvData.js"
    )
    script(
      src="https://d3js.org/d3.v5.js"
    )
    script(
      src="../scripts/js/myJS.js"
    )
